@import "../shared/colors.scss";

.spacer {
    flex: 1 1 auto;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: large;
    padding-left: 1vw;
    padding-right: 1vw;
}
.nav-item:hover {
    color: lightgray;
}

mat-sidenav {
    background-color: $primary;
}

.currentPage {
    display: none;
}
