<div class="container">
  <form action="">
    <div formControlName="name" class="row">
      <div class="col offset-1"><input type="text"></div>
    </div>

    <div formControlName="price" class="row">
      <div class="col offset-1"><input type="number"></div>
    </div>

    <div formControlName="type" class="row">
      <div class="col offset-1"><input type="text"></div>
    </div>

    <div formControlName="count" class="row">
      <div class="col offset-1"><input type="number"></div>
    </div>

    <div formControlName="control" class="row">
      <div class="col offset-1"><input type="image"></div>
    </div>
    <div formControlName="control" class="row">
      <div class="col offset-1"><input type="size"></div>
    </div>

    <div formControlName="control" class="row">
      <div class="col offset-1"><input type="calories"></div>
    </div>

    <div formControlName="control" class="row">
      <div class="col offset-1"><input type="sugarcontent"></div>
    </div>

    <div formControlName="control" class="row">
      <div class="col offset-1"><input type="saltcontent"></div>
    </div>

    <div formControlName="control" class="row">
      <div class="col offset-1"><input type="text"></div>
    </div>

    <div formControlName="control" class="row">
      <div class="col offset-1"><input type="allergens"></div>
    </div>


  </form>
</div>