<div class="container">
  <div class="row">

    <div class="col-sm-3 col-xs-12 filtercart">
      <div class="row">

        <div class="col-12 nobg filters">
          <friday-filterscontainer>
          </friday-filterscontainer>
        </div>

        <div class="col-12 nobg cart">
          <friday-cartcontainer></friday-cartcontainer>
        </div>

      </div>
    </div>
    <div class="col-sm-9  col-xs-12 showcase">
      <friday-showcase></friday-showcase>
    </div>

  </div>
</div>