.tempfill {
  height: 300px;
  border: 2px solid green;

  &.cart {
    margin-top: 10px;
  }
}

.filters {
  margin-bottom: 15px;
}

.fluid-container {
  margin: 40px;
}

.filtercart {
  margin-top: 2.5rem;
}
