<div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Log type:</mat-label>
                <mat-select formControlName="selection">
                    <mat-option
                        *ngFor="let logtype of logtypes"
                        [value]="logtype"
                        >{{ logtype.display }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="fill" *ngIf="needsInput">
                <mat-label>{{ selected.inputDisplayName }}</mat-label>
                <mat-select formControlName="input">
                    <mat-option
                        *ngFor="let item of displayList"
                        [value]="item.value"
                        >{{ item.display }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </div>

        <div class="form-group">
            <button
                class="btn btn-primary"
                [disabled]="!canSubmit()"
                type="submit"
            >
                Get logs
            </button>
        </div>
    </form>

    <div *ngIf="data && hasSelectedLog">
        <ng-container
            *ngIf="selectedDisplayType === 'list'; then list; else single"
        ></ng-container>
        <ng-template #list>
            <friday-loglistdisplay
                [columns]="getDisplayColumns()"
                [logtype]="selectedLogType"
                [data]="data | async"
            ></friday-loglistdisplay>
        </ng-template>

        <ng-template #single>
            <friday-logsingledisplay
                [data]="data | async"
                [datatype]="selectedSingleDataType"
            >
            </friday-logsingledisplay>
        </ng-template>
    </div>
</div>
