<div class="container-fluid">
  <mat-card>
    <mat-card-content>
      <div class="img-wrapper"><img class="itembox-img" [src]="getUrl()" alt="Picture of {{item.name}}"></div>

      <div class="wrapper">

        <h3>{{item.name}}</h3>
        <p>{{item.price | currency}}</p>

        <mat-divider [inset]="true"></mat-divider>


        <form [formGroup]="form" (ngSubmit)="AddToCart()">
          <!-- <div [ngClass]="{'error': form.get('amount').error}">
                <input formControlName="amount" type="number" style="width: 25%; margin: auto"
                  value="{{form.get('amount').value}}">
              </div> -->

          <div class="row padded d-lg-none">
            <input class="col-12 col-lg-4 input" formControlName="amount" [ngClass]="{'error': !!form.get('amount').errors}" type="number" value="0">

            <button class="btn btn-block btn-primary offset-lg-1 col-12 col-lg-7 submit" style="width: 100%;" type="submit">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>

          <div class="row padded d-none d-lg-block">
            <input class="col-12 col-lg-4" formControlName="amount" [ngClass]="{'error': !!form.get('amount').errors}" type="number" value="0">

            <button class="btn btn-block btn-primary offset-lg-1 col-12 col-lg-7" style="width: 100%;" type="submit">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>

        </form>


      </div>
    </mat-card-content>
  </mat-card>
</div>
