<div class="toolcontainer container">

  <div class="row">
    <div class="admincontainer col">
      <ul>
        <li>
          <div class="noborder">Add User</div>
        </li>
        <li>
          <div>Adjust User</div>
        </li>
        <li>
          <div>Manage Funds</div>
        </li>
        <li>
          <div>Manage Stock</div>
        </li>
        <li>
          <div>Logs</div>
        </li>
        <li>
          <div>Config</div>
        </li>
      </ul>
    </div>


    <div class="debug">

    </div>

  </div>

</div>