.admincontainer {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 0;
  margin: 0;
  // display: flex;
  // justify-content: space-between;
}



ul {
  padding: 0;
  margin: 0;
  > li {
    list-style-type: none;

    &:hover {
      background-color: lightgrey;

      &:first-child {
        border-radius: 5px 5px 0 0;
      }

      &:last-child {
        border-radius: 0 0 5px 5px;
      }
    }
    > div {
      width: 100%;
      height: 100%;
      padding: 10px;
      padding-left: 15px;
      border-top: solid 1px black;
      &.noborder {
        border: none;
      }
    }
  }
}
