<mat-tab-group>

  <mat-tab label="Add User">
    <div class="toolwrapper">
      <friday-adduser></friday-adduser>
    </div>
  </mat-tab>

  <mat-tab label="Change User">
    <div class="toolwrapper">
      <friday-adjustuser></friday-adjustuser>
    </div>
  </mat-tab>

  <mat-tab label="Configuration">
    <div class="toolwrapper">
      <friday-config></friday-config>
    </div>
  </mat-tab>

  <mat-tab label="Logs">
    <div class="toolwrapper">
      <friday-logs></friday-logs>
    </div>
  </mat-tab>

</mat-tab-group>