<ng-container *ngIf="!!orders.length; then thenTemplate; else elseTemplate"></ng-container>

<ng-template #thenTemplate>
    <div class="wrapper">
        <div class="table-responsive-mid">

            <table class="table table-striped">
                <tbody>

                    <!-- 1 row per order -->
                    <tr *ngFor="let order of orders">
                        <div class="orderRow row">

                            <!-- Status & Date -->
                            <div class="col-12 col-md 6">
                                <div>Ordered: {{order.orderTime | date : 'dd/MM/yyyy hh:mm'}}</div>
                                <div class="status" *ngIf="order.statusBeverage !=='None'">Status drinks:
                                    {{order.statusBeverage}}</div>
                                <div class="status" *ngIf="order.statusFood !=='None'">Status food: {{order.statusFood}}
                                </div>
                            </div>

                            <!-- Items & Total -->
                            <div class="col-12 col-md 6">
                                <div class="row" *ngFor="let item of order.items">
                                    <div class="col-sm-8 col-4">{{item.itemName}} </div>
                                    <div class="col-2">X{{item.amount}}</div>
                                </div>

                                <mat-divider [inset]="true">
                                </mat-divider>
                                <div class="priceTotal">Total: {{order.totalPrice | currency: 'EUR'}}</div>
                            </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>

<ng-template #elseTemplate>
    <div class="wrapper">
        <h2>No running orders!</h2>
    </div>
</ng-template>