.wrapper {
    max-width: 80vw;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
}

.noOrders {
    width: 100%;
    text-align: center;
    margin-top: 250px;
}

.orderRow {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
