<ng-container *ngIf="!!orders.length; then thenTemplate; else elseTemplate"></ng-container>

<ng-template #thenTemplate>
    <div class="wrapper table-responsive-md">
        <table class="table table-striped">
            <tr class="for" *ngFor="let item of orders">
                <div >

                    <div class="row fitted">

                        <div class="fitted col-sm-6 col-12">

                            <div>
                                <div>Ordered: {{order.orderTime | date : 'dd/MM/yyyy hh:mm:ss'}}</div>
                                <div class="status" *ngIf="order.statusBeverage !=='None'">Status drinks:
                                    {{order.statusBeverage}}</div>
                                <div class="status" *ngIf="order.statusFood !=='None'">Status food: {{order.statusFood}}
                                </div>
                            </div>
                        </div>

                        <div class="fitted col-sm-4 offset-sm-1 col-12">

                            <div class="row" *ngFor="let item of order.items">
                                <div class="col-sm-8 col-4">{{item.itemName}} </div>
                                <div class="col-2">X{{item.amount}}</div>
                            </div>

                            <div class="priceTotal">Total: {{order.totalPrice | currency: 'EUR'}}</div>
                        </div>

                    </div>
                </div>
            </tr>
        </table>
    </div>
</ng-template>

<ng-template #elseTemplate>
    <div class="wrapper">
        <h2>No running orders!</h2>
    </div>
</ng-template>