<div class="wrapper">
    <form (ngSubmit)="submit()" [formGroup]="form">
        <fieldset>
            <table>
                <tr>
                    <mat-checkbox
                        color="primary"
                        formControlName="combinedCateringKitchen"
                        type="checkbox"
                    >
                        Combine catering & kitchen
                    </mat-checkbox>
                </tr>
                <tr>
                    <mat-checkbox
                        formControlName="usersSetSpot"
                        type="checkbox"
                        color="primary"
                    >
                        Users have a set spot
                    </mat-checkbox>
                </tr>
                <tr>
                    <mat-checkbox
                        formControlName="cancelOnAccepted"
                        type="checkbox"
                        color="primary"
                    >
                        Cancel accepted orders
                    </mat-checkbox>
                </tr>
            </table>
        </fieldset>

        <div class="wrapper">
            <button
                type="submit"
                [disabled]="!form.valid"
                class="btn btn-primary"
            >
                Add User
            </button>
        </div>
    </form>
</div>
