<div class="wrapper">
    <form class="" [formGroup]="form" (ngSubmit)="addUser()">

        <div class="form-group">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input formControlName="username" type="email" matInput placeholder="Email">
                <mat-hint align="end">Used as username</mat-hint>
            </mat-form-field>
        </div>

        <div formGroupName="passwords">
            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" type="password" matInput placeholder="Password">
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Confirm password</mat-label>
                    <input formControlName="passwordConfirm" type="password" matInput placeholder="Confirm password">
                </mat-form-field>
            </div>
        </div>

        <div class="wrapper">
            <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
                Add User
            </button>
        </div>

    </form>
</div>