<!-- <div class="container-fluid">
  <div class="navbar row">
   
    <div class="col-1 buttons"> 
      <button >Tool</button>
      <button >History/Store</button>
    </div>
    <p class="col-2 offset-4">Test</p>

    <button>Logout</button>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
</div> -->

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Friday</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button class="btn btn-dark btn-padded"> Tools <span class="sr-only">(current)</span></button>
      </li>
      <li class="nav-item">
        <button class="btn btn-dark btn-padded">History</button>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>